@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kanit", sans-serif;
  background-image: url("../public/images/weatherful-background.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}
